* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    top: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

nav p {
   font-size: 40px;
   padding: 0; 
   margin: 10px 0 10px 0;
   background-color: slategray;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

top-left {
    align-items: flex-start;
}

top-right {
    align-items: flex-end;
    padding: 10px 0 15px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    font-size: 30px;
}

img {
    width: 100%;
    height: 250px;
}

.img-wave{
    width: 100%;
    height: 250px;
    margin: 0;
    background-image: url(Assets/wavy.jpg);
    display: flex;
    margin-right: 20px;
    align-items: flex-end;
    justify-content: end;
    padding-bottom: 20px;
}

.img-wave p {
    margin: 0;
    align-items: flex-end;
    font-size: 32px;
    background-color: crimson;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

.section-detail {
    margin: 20px auto;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
}

.section-title {
    font-size: 48px;
    display: inline-block;
    border-right: 5px solid;
    margin-right: 35px;
    color: black;
    text-align: right;
    padding: 30px;
    flex-basis: 25%;
}

.primary-border {
    border-color: aqua;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 66%;
    gap: 10px 30px;
}

.item-detail {
    align-content: center;
    position: relative;
    width: fit-content;
    margin: 12px;
    display: flex;
    gap: 10px 30px;
}

.item-detail:hover {
    background-color: aqua;
}

img {
    border: 5px solid beige;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 10vw);
    grid-gap: 15px;
    margin-left: 30px;
}
.gallery-item {
    position: relative;
}

.gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
}

.gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gallery-item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.gallery-item-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

.bottom-left {
    position: absolute;
    bottom: 9px;
    left: 0px;
    padding: 5px;
    margin-left: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 10px;
    color: white;
    background-color: black;
}


.socials{
    align-content: space-between;
    justify-content: space-between;
    width: 80%;
    gap: 20px;
}

.socials span{
    gap: 10px;
    align-items: center;
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid black;
}
